torch==1.7.0
torchvision==0.8.1
guided_filter_pytorch==3.7.5

numpy==1.17.0
scipy==1.4.1
scikit-fmm==0.0.9
scikit-image==0.16.2
scikit-learn==0.22.1
scikit-sparse==0.4.4
opencv-python==4.1.2.30
opencv-contrib-python==4.1.2.30
ipykernel==5.3.4
